
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FruitTea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/layui/2.5.6/css/layui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layui/2.5.6/layui.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <style>


        #box1 {
            overflow: hidden;
        }

        .milktea {
            width: 130px;
            height: 150px;
        }

        .Milk {
            position: relative;
            top: 20px;
            width: 300px;
        }

        .lab {
            position: relative;
            top: 10px;
        }

        .money {
            position: absolute;
            top: 100px;
            color: red;
            font-size: 20px;
        }

        label {
            position: relative;
            top: -60px;
        }

        strong {
            position: relative;
            font-size: 20px;
            left: -80px;
            top: 40px;
        }

        #hh {
            position: relative;
            left: -80px;
            top: 40px;
            color: red;
        }

        .Add {
            position: relative;
            width: 90px;
            background-color: rgb(249,214,72);
            border: none;
            border-radius: 20px;
            font-weight: 700;
            left: 190px;
            top: -50px;
        }

        #sell {
            position: relative;
            left: -30px;
            font-size: 10px;
            top: -30px;
            color: gray;
        }

        #num {
            position: relative;
            left: -30px;
            font-size: 10px;
            top: -30px;
            color: gray;
        }

        #gouwuche {
            position: fixed;
            background-color: black;
            width: 300px;
            height: 35px;
            z-index: 8;
            top: 525px;
            left: -70px;
            border-radius: 20px;
        }

        #num1 {
            position: relative;
            color: white;
            left: 85px;
            top: 3px;
            z-index: 4;
            font-weight: 700;
        }

        #fuhao {
            position: relative;
            color: white;
            left: 85px;
            top: 2px;
            z-index: 4;
        }

        #yel {
            position: relative;
            width: 70px;
            height: 35px;
            left: 253px;
            top: -21px;
            background-color: rgb(245,209,82);
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }

        #jiesuan {
            position: relative;
            left: 5px;
            top: 5px;
        }

        #ImageP {
            position: relative;
            top: -470px;
            left: 90px;
        }
    </style>



</head>
<body>

    <div id="box1">
    </div>
    <div id="gouwuche">
        <font id="fuhao" size="2">￥</font>
        <font id="num1" size="4">0.0</font>
        <div id="yel">
            <font id="jiesuan" size="3">去结算</font>
        </div>
        @*<img id="ImageP" Height="255" Width="249" src="~/Image/cold.png" />*@
    </div>




    <script>

        var src1;
        var total = [];

        $.post(`/Front/GetLittle`, {}, function (data) {
            console.log(data);
            var html = '';



            for (var i = 0; i < data.length; i++) {
                var img = data[i].Img;
                console.log(img);
                console.log(data[i].Price);
                html += `<div class="milk">
                            <img class="milktea" src ="/Image/yuyuannaicha.png"/>
                            <label class="1"> `+ data[i].Name + `</label>
                            <font id="sell">月售</font>
                            <font id="num">`+ data[i].Sell + `</font>
                            <font id="hh">￥</font>
                            <strong class="2">`+ data[i].Price + `</strong>
                            <input class="Add" type="button" value="+加入购物车" id="btn`+ i + `" />
                        </div>`;

            }
            document.getElementById('box1').innerHTML = html;
            var x = document.getElementsByClassName("2");
            var z = document.getElementsByClassName("milktea");
            for (var k = 0; k < z.length; k++) {
                z[k].src = data[k].Img;
            }

            $(`#btn0`).click(function () {
                console.log(data[0].Price);
                var a = document.getElementById("num1");
                a.innerHTML = parseInt(a.innerHTML) + parseInt(data[0].Price);
                total.push(data[0].Name);
                console.log(a.innerHTML);

            })

            $(`#btn1`).click(function () {
                console.log(data[1].Price);
                var a = document.getElementById("num1");
                a.innerHTML = parseInt(a.innerHTML) + parseInt(data[1].Price);
                console.log(a.innerHTML);
                total.push(data[1].Name);

            })
            $(`#btn2`).click(function () {
                console.log(data[2].Price);
                var a = document.getElementById("num1");
                a.innerHTML = parseInt(a.innerHTML) + parseInt(data[2].Price);
                console.log(a.innerHTML);
                total.push(data[2].Name);
            })
            $(`#btn3`).click(function () {
                console.log(data[3].Price);
                var a = document.getElementById("num1");
                a.innerHTML = parseInt(a.innerHTML) + parseInt(data[3].Price);
                console.log(a.innerHTML);
                total.push(data[3].Name);
            })
            for (var i = 0; i < x.length; i++) {
                console.log(i);
                x[i].style.color = "red";
            }
        })

        $("#yel").click(function () {
            var a = $("#num1").text();
            var time = new Date();
            var id = time.getTime(); //从1970.1.1开始的毫秒数，用作ID
            var str = ``;
            for (var i = 0; i <total.length ; i++) {
                str = str + (i+1)+`.`+total[i];
            }

                var order = {
                    ID:id,
                    Content: str,
                    Time: time,
                    Price: a
                };
                console.log(order);
                $.post(`/Front/AddOrder`, order, function (data) {
                    alert(data);
                })
            $.post(`/Pay/F2FPay`, { Id: id, money: a, subject: str }, function (data) {
                console.log(data);
                window.location.href = "/Pay/Paypage?" + id + data;
                @*var IMG = document.getElementById("ImageP");
                IMG.src = data;*@

            })






        })

    </script>
</body>



</html>
