
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserCom</title>
    <style>
        #zhifu{
            position:relative;
            top:100px;
            left:10px;
            width:280px;
            height:260px;


        }
    </style>
</head>
<body>
    <div> 
       <img id="zhifu" src="~/Image/ok.png"/>
    </div>
</body>
</html>
